.main-body{
    background-image: linear-gradient(to right,rgb(248,224,237), rgb(209,241,255));
    padding: 20px 40px;
}

.header-head{
    font-size: 14pt;
    text-transform: uppercase;
    font-family: 'Sofia Sans', sans-serif;
    word-spacing: 1px;
    letter-spacing: 1.4px;
    margin-bottom: 20px;
}

.initials{
    font-size: 18pt;
    font-weight: bolder;
}

.first-cols, .first-filter, .inner-filter, .emergencies{
   background-color: rgb(255, 255, 255, 0.8);
   font-family: 'Sofia Sans', sans-serif;
   font-size: 10pt;
   border-radius: 10px;
   padding: 15px;
}

.first-cols{
    padding-bottom: 0px;
}

.total-section{
    border-bottom: 1px solid rgb(209,241,255)
}

.inside-row{
    padding: 20px;
}

.section-cont{
    border-left: 7px solid blue;
}

.number{
    font-weight: bolder;
    color: brown;
    font-size: 11pt;
}
    
.summary-section{
    margin: 20px 0px;
    background-color: rgba(229,223,227,1);
    padding: 15px;
    border-radius: 10px;
    border-left: 20px solid black;
}

.form-section{
    margin: 20px 0px;
    background-color: rgba(240,240,240,1);
    padding: 15px;
    border-radius: 10px;
}

.action-submit{
    width: 50%;
    float: right;
    font-size: 10pt;
    padding: 5px;
    background-color: rgb(230, 230, 230);
    border: 1px solid rgb(200, 200, 200);
    color: brown;
}

.action-submit:hover{
    background-color: rgb(210, 210, 210);
    border: 1px solid brown;
    color: brown;
}

.each-div{
    margin: 20px 20px;
}

.color-instore, .color-predicted{
    width: 20px;
    height: 20px;
    background-color: blue;
    display: inline-block;
    border-radius: 50px;
    margin-right: 10px;
    margin-top: 0px;
    position: relative;
    top: -5px;
}

.color-predicted{
    background-color: brown;
}


.predicted{
    display: inline-block;
}

.normal{
    background-color: green;
    padding: 10px;
    text-align: center;
    color: white;
    width: 100%;
    margin-top: 40px;
}

.event-button{
    padding: 5px 10px;
    font-size: 12pt;
    cursor: pointer;
    color: white;
    text-align: center;
    margin-top: 40px;
    border: 1px solid white;
}

.buy{
    background-color: brown;
}

.replenish{
    background-color: green;
}

.buy:hover{
    background-color: rgb(110, 31, 31);
    color: black;
}

.replenish:hover{
    background-color: rgb(9, 65, 9);
    color: black;
}

.second-cols{
    padding: 0px 20px;
}

.store_selection{
    padding: 10px;
    width: 100%;
    margin-top: 30px;
    font-size: 12pt;
}

.second-filter{
    padding-left: 10px;
    padding-right: 0px;
}

.emergencies{
    margin-top: 20px;
    position: relative;
    height: 70vh;
}


.sum-store, .sum-prod {
    font-size: 14pt;
    color: blue;
}

.timeframe{
    font-size: 10pt;
    text-align: right;
}

.action-form {
    width: 80%;
    margin: 0px auto;
    display: none;
}

.shown{
    display:block;
}

.each-input{
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

.half-input{
    width: 49%;
    display: inline-block;
}

.each-input input, .each-input select{
    width: 100%;
    padding: 5px;
    font-size: 8pt;
}

.timeframe input, .timeframe select {
    padding: 10px;
}

.toggle-section{
    border-radius: 10px;
    padding: 0px;
}

.button-act{
    background-color: rgba(229,223,227,1);
    padding: 10px 20px;
    width: 100%;
    margin: 5px 0px;
    border-radius: 5px;
    cursor: pointer;
    color: black;
}

.button-act:hover{
    background-color: rgba(200,213,217,1);
}

.active-toggle{
    background-color: rgb(86, 93, 95);
    color: white;
}

.input-note{
    color: red;
    font-size: 9pt;
    border: 0px;
    margin-bottom: 10px;
    text-align: center;
}

.body-conts{
    margin: 0px;
}

.table-cont{
    height: 60vh;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(240, 240, 236);
}

thead{
    background-color: black;
    color: white;
}